

.register {
    margin: 3rem auto;
    padding: 1rem;
    margin-top: 1rem;
    width: 90%;
    
}
.register .container {
  width: 1240px;
  margin: 4rem auto;
  padding: 1rem;
}
.register .card a:link,
.register .card a:visited{
  margin: 1rem 1rem ;
  padding: 10px 20px;
  margin-bottom: 20px;
  top: 20px;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  background-color: rgb(9, 37, 93);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  
  
}
.register h2 {
  font-size: 3rem;
  padding-bottom: 30px;
}

.register .container .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 4rem 0;
}

.register .card {
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 2.5rem;
}

.register img {
  border-radius: 50px;
  margin-top: -2rem;
}

.register .card p {
  color: #000000;
  font-size: 2rem;
  margin: 12px;
}

.register .card span {
  color: red;
  font-size: 1.3rem;
  font-weight: 700;
}


@media screen and (max-width: 940px) {
  .register .container {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .register .container .content {
    grid-template-columns: 1fr;
  }

  .register .card {
    max-width: 100%;
    margin: 1rem;
  }
}
